.choice-container {
	display: flex;
	margin-bottom: 1rem;
	width: 100%;
	font-size: 1.8rem;
	border: 0.1rem solid rgb(86, 165, 235, 0.25);
	background-color: white;
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 785, 235, 0.5);
	transform: translateY(0.1rem);
	transition: transform 150rem;
}

.choice-prefix {
	padding: 1.5rem 2.5rem;
	background-color: #56a5eb;
	color: white;
	font-size: 2.5rem;
}

.choice-text {
	padding: 1.5rem;
	width: 100%;
	font-size: 2rem;
}

.correct {
	background-color: #28a746e5;
}

.incorrect {
	background-color: #dc3545;
}

/* HUD display */

#hud {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 40px;
}

#hud p {
	font-family: Arial, Helvetica, sans-serif;
}

.hud-prefix {
	text-align: center;
	font-size: 2rem;
}

.hud-main-text {
	text-align: center;
	color: #56a5eb;
	font-size: 5rem;
}

#progress-bar {
	width: 20rem;
	height: 4rem;
	border: 0.3rem solid #56a5eb;
	margin-top: 1.4rem;
}

.progress-bar-full {
	height: 3.6rem;
	background-color: #56a5eb;
	width: 0%;
}
